%section
  %header.section.head
    %h1.left
      Manage Tweets

    .actions.right
      %a.button{ href: new_tweet_path } New Tweet

  %table{ cellpadding: 0, cellspacing: 0 }
    %thead
      %tr
        %th Image
        %th Author
        %th Description
        %th Time
        %th Action
    %tbody
      - @resources.each do |r|
        %tr{ class: r.published ? '' : 'red' }
          %td{ width: '7%' }
            - if r.photo.present?
              %img{ src: r.photo, width: '100%' }
            - else
              N/A
          %td
            = r.handle
          %td{ width: '44%' }
            = r.description
          %td{ width: '10%' }
            = r.published_date.strftime('%B %d')
            %br/
            = r.published_date.strftime('%l:%M%P')
          %td
            %a.green.button.small{ href: polymorphic_path(r) } preview
            %a.yellow.button.small{ href: edit_tweet_path(r) } edit
            %a.red.button.small{ href: tweet_path(r), data: { confirm: "Are you sure you want to delete?", method: :delete } } delete